<div class="tableBox">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        
        <tr>
            <td>Title</td>
            <td>@Model.Title</td>
        </tr>
        
        <tr>
            <td>Message</td>
            <td>@Model.Message</td>

        </tr>
        
    </table>
    
</div>